:root{
    --theme-color:#acc7f6 ;
    --font-color: #4c42bf;
    --background-color:rgb(168, 246, 246);
      font-family: 'Times New Roman', Times, serif;
    }
    body{        
        box-sizing: border-box;
        margin-right: 1%; 
        margin-left: 1%;
        color: var(--font-color);
        text-align: center;
    }
    nav{
        background-color:var(--theme-color);
        color: #fff;
        text-align: right;
        padding: 1%;
        font-weight: bold;
    }
    main{
        display: flex;
        padding: 1%;
        justify-items: center;
        color: var(--font-color);
        margin-bottom: 1%;
        justify-content:space-evenly; 
        background-color:var(--background-color);        
    }
    .profile-img{
        width:200px;
        height:200px;
    }
   .skill-img{
    display: flex;
    justify-content:space-evenly;  
    width: 80px;
    height: 80px;
    }
   .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1%;
   }
   .projects-experience{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1%;
    background-color:var(--background-color); 
   }
   section{
        background-color:var(--background-color); 
        border-radius: 1%;
        padding: 1%;
    }
    :is(#about,#skills,#blog){
    background-color:var(--theme-color);
    }
    li{
        list-style-type: none;
    }
    a:link{
        color: var(--font-color);
        text-decoration: none;
        padding: 1%;
    }
    a:hover{
        text-decoration: underline;
    }

    a:visited{
        color: var(--font-color);
        text-decoration: none;
    }
    #years::first-letter{
    font-size: 80px;
    }